<%= content_for :page_head do %>
  <hgroup class="page-head">
	<h2>Our <span>PRODUCT</span></h2>
	<h5></h5>
  </hgroup>
<% end %>

<div id="content" class="full-width" style="min-height: 200px;">

  <ul id="filter-by" class="clearfix">
	<li><a href="#" data-filter="gallery-item" class="active">All</a></li>
	<% @type.each do |type| %>
	  <li><a href="#" data-filter="<%= type.id %>" title="View all Gallery Items filed under <%= type.name %>"><%= type.name %></a></li>
	<% end %>
  </ul>

  <div id="gallery-container" class="gallery-3-columns isotope clearfix">
	<% @products.each do |product| %>
	  <div class="type-gallery-item gallery-item isotope-item <%= product.product_type_id %> ">
		<a class="pretty-photo" href="<%= product.image(:big) %>">
		  <%= image_tag(product.image(:medium), size: "306x168", alt: product.title) %>
		</a>
		<h5 class="item-title"><%= truncate(product.description, length: 45) %></h5>
		<span class="item-type-link">
		  <%= link_to product.title, product_show_path(product) %>
		</span>
	  </div>
	<% end %>
  </div>

</div>